# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.php]
indent_style = space
indent_size = 4

ij_php_align_assignments = true
ij_php_align_class_constants = true
ij_php_align_key_value_pairs = true
ij_php_align_phpdoc_param_names = true
ij_php_align_phpdoc_comments = true
ij_php_space_after_type_cast = true
ij_php_concat_spaces = false
ij_php_phpdoc_param_spaces_between_tag_and_type = 1
ij_php_comma_after_last_array_element = true

[*.md]
max_line_length = 80
