parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$body of method Psr\\\\Http\\\\Message\\\\MessageInterface\\:\\:withBody\\(\\) expects Psr\\\\Http\\\\Message\\\\StreamInterface, Psr\\\\Http\\\\Message\\\\StreamInterface\\|null given\\.$#"
			count: 1
			path: src/Client/HttpClient.php

		-
			message: "#^Parameter \\#1 \\$content of method Psr\\\\Http\\\\Message\\\\StreamFactoryInterface\\:\\:createStream\\(\\) expects string, array\\<string, string\\>\\|string given\\.$#"
			count: 1
			path: src/Client/HttpClient.php

		-
			message: "#^Parameter \\#1 \\$currency of method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\AbstractRequestDataMapper\\:\\:mapCurrency\\(\\) expects 'EUR'\\|'GBP'\\|'JPY'\\|'RUB'\\|'TRY'\\|'USD', string given\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/EstPosRequestDataMapper.php

		-
			message: "#^Default value of the parameter \\#7 \\$extraData \\(array\\{\\}\\) of method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\PayFlexCPV4PosRequestDataMapper\\:\\:create3DFormData\\(\\) is incompatible with type array\\{CommonPaymentUrl\\: string, PaymentToken\\: string\\}\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PayFlexCPV4PosRequestDataMapper.php

		-
			message: "#^Default value of the parameter \\#7 \\$extraData \\(array\\{\\}\\) of method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\PayFlexV4PosRequestDataMapper\\:\\:create3DFormData\\(\\) is incompatible with type array\\{PaReq\\: string, TermUrl\\: string, MD\\: string, ACSUrl\\: string\\}\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PayFlexV4PosRequestDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\PayFlexV4PosRequestDataMapper\\:\\:create3DEnrollmentCheckRequestData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PayFlexV4PosRequestDataMapper.php

		-
			message: "#^Cannot assign offset 'authCode' to array\\<string, string\\>\\|string\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: "#^Cannot assign offset 'hostLogKey' to array\\<string, int\\|string\\>\\|string\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: "#^Cannot assign offset 'hostLogKey' to array\\<string, mixed\\>\\|string\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: "#^Cannot assign offset 'orderID' to array\\<string, int\\|string\\>\\|string\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: "#^Cannot assign offset 'orderID' to array\\<string, mixed\\>\\|string\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\PosNetRequestDataMapper\\:\\:create3DEnrollmentCheckRequestData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\PosNetV1PosRequestDataMapper\\:\\:create3DFormData\\(\\) has parameter \\$extraData with no type specified\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetV1PosRequestDataMapper.php

		-
			message: "#^Argument of an invalid type array\\|object supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/DataMapper/ResponseDataMapper/AbstractResponseDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\GarantiPosResponseDataMapper\\:\\:mapCancelResponse\\(\\) should return array\\<string, string\\> but returns array\\<string, array\\<string, array\\<string, array\\<string, string\\|null\\>\\|string\\>\\|string\\|null\\>\\|string\\|null\\>\\.$#"
			count: 1
			path: src/DataMapper/ResponseDataMapper/GarantiPosResponseDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\GarantiPosResponseDataMapper\\:\\:mapPaymentResponse\\(\\) should return array\\<string, float\\|string\\|null\\> but returns array\\<string, array\\<string, array\\<string, array\\<string, string\\|null\\>\\|string\\>\\|string\\|null\\>\\|string\\|null\\>\\.$#"
			count: 1
			path: src/DataMapper/ResponseDataMapper/GarantiPosResponseDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\GarantiPosResponseDataMapper\\:\\:mapStatusResponse\\(\\) should return array\\<string, float\\|string\\|null\\> but returns array\\<string, array\\<string, array\\<string, array\\<string, string\\|null\\>\\|string\\>\\|string\\|null\\>\\|float\\|string\\|null\\>\\.$#"
			count: 1
			path: src/DataMapper/ResponseDataMapper/GarantiPosResponseDataMapper.php

		-
			message: "#^Offset 'AuthAmount' does not exist on array\\<string, string\\|null\\>\\|string\\.$#"
			count: 1
			path: src/DataMapper/ResponseDataMapper/GarantiPosResponseDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\KuveytPosResponseDataMapper\\:\\:mapStatusResponse\\(\\) has parameter \\$rawResponseData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DataMapper/ResponseDataMapper/KuveytPosResponseDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\PayFlexV4PosResponseDataMapper\\:\\:getCommonPaymentResponse\\(\\) should return array\\<string, string\\> but returns array\\<string, array\\<string, string\\>\\|string\\|null\\>\\.$#"
			count: 1
			path: src/DataMapper/ResponseDataMapper/PayFlexV4PosResponseDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\PayForPosResponseDataMapper\\:\\:map3DCommonResponseData\\(\\) should return array\\<string, float\\|string\\|null\\> but returns array\\<string, array\\<string, string\\>\\|float\\|string\\|null\\>\\.$#"
			count: 1
			path: src/DataMapper/ResponseDataMapper/PayForPosResponseDataMapper.php

		-
			message: "#^Property Mews\\\\Pos\\\\Entity\\\\Account\\\\GarantiPosAccount\\:\\:\\$refundPassword \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: src/Entity/Account/GarantiPosAccount.php

		-
			message: "#^Property Mews\\\\Pos\\\\Entity\\\\Account\\\\GarantiPosAccount\\:\\:\\$refundUsername \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: src/Entity/Account/GarantiPosAccount.php

		-
			message: "#^Property Mews\\\\Pos\\\\Entity\\\\Card\\\\AbstractCreditCard\\:\\:\\$number \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: src/Entity/Card/AbstractCreditCard.php

		-
			message: "#^Method Mews\\\\Pos\\\\Factory\\\\PosFactory\\:\\:createPosGateway\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Factory/PosFactory.php

		-
			message: "#^Method Mews\\\\Pos\\\\Factory\\\\PosFactory\\:\\:createPosGateway\\(\\) should return Mews\\\\Pos\\\\PosInterface but returns object\\.$#"
			count: 1
			path: src/Factory/PosFactory.php

		-
			message: "#^Access to undefined constant Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\ResponseDataMapperInterface\\:\\:TX_APPROVED\\.$#"
			count: 1
			path: src/Gateways/AbstractGateway.php

		-
			message: "#^Parameter \\#2 \\$rawPaymentResponseData of method Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\GarantiPosResponseDataMapper\\:\\:map3DPaymentData\\(\\) expects array\\{Order\\: array\\<string, array\\<string, string\\|null\\>\\|string\\>, Response\\: array\\<string, string\\>, Transaction\\: array\\<string, array\\<string, string\\>\\|string\\>\\}\\|null, array\\<string, mixed\\>\\|null given\\.$#"
			count: 1
			path: src/Gateways/GarantiPos.php

		-
			message: "#^Parameter \\#1 \\$raw3DAuthResponseData of method Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\PayFlexCPV4PosResponseDataMapper\\:\\:map3DPayResponseData\\(\\) expects array\\{ErrorCode\\: string\\}\\|array\\{Rc\\: string, AuthCode\\: string, TransactionId\\: string, PaymentToken\\: string, MaskedPan\\: string\\}\\|array\\{Rc\\: string, Message\\: string, TransactionId\\: string, PaymentToken\\: string\\}, array given\\.$#"
			count: 1
			path: src/Gateways/PayFlexCPV4Pos.php

		-
			message: "#^Parameter \\#7 \\$extraData of method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\PayFlexCPV4PosRequestDataMapper\\:\\:create3DFormData\\(\\) expects array\\{CommonPaymentUrl\\: string, PaymentToken\\: string\\}, array\\{CommonPaymentUrl\\: string\\|null, PaymentToken\\: string\\|null, ErrorCode\\: null, ResponseMessage\\: string\\|null\\} given\\.$#"
			count: 1
			path: src/Gateways/PayFlexCPV4Pos.php

		-
			message: "#^Method Mews\\\\Pos\\\\Gateways\\\\PosNet\\:\\:getOosTransactionData\\(\\) should return array\\{approved\\: string, respCode\\: string, respText\\: string, oosRequestDataResponse\\?\\: array\\{data1\\: string, data2\\: string, sign\\: string\\}\\} but returns array\\<string, mixed\\>\\.$#"
			count: 1
			path: src/Gateways/PosNet.php

		-
			message: "#^Offset 'oosRequestDataRespo…' does not exist on array\\{approved\\: string, respCode\\: string, respText\\: string, oosRequestDataResponse\\?\\: array\\{data1\\: string, data2\\: string, sign\\: string\\}\\}\\.$#"
			count: 1
			path: src/Gateways/PosNet.php
