parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$body of method Psr\\\\Http\\\\Message\\\\MessageInterface\\:\\:withBody\\(\\) expects Psr\\\\Http\\\\Message\\\\StreamInterface, Psr\\\\Http\\\\Message\\\\StreamInterface\\|null given\\.$#"
			count: 1
			path: src/Client/HttpClient.php

		-
			message: "#^Parameter \\#1 \\$content of method Psr\\\\Http\\\\Message\\\\StreamFactoryInterface\\:\\:createStream\\(\\) expects string, array\\<string, string\\>\\|string given\\.$#"
			count: 1
			path: src/Client/HttpClient.php

		-
			message: "#^Default value of the parameter \\#3 \\$order \\(array\\{\\}\\) of method Mews\\\\Pos\\\\Crypt\\\\PosNetCrypt\\:\\:createHash\\(\\) is incompatible with type array\\{amount\\: int, currency\\: string, id\\: string\\}\\.$#"
			count: 1
			path: src/Crypt/PosNetCrypt.php

		-
			message: "#^Parameter \\#1 \\$currency of method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\AkbankPosRequestDataMapper\\:\\:mapCurrency\\(\\) expects 'EUR'\\|'GBP'\\|'JPY'\\|'RUB'\\|'TRY'\\|'USD', string given\\.$#"
			count: 5
			path: src/DataMapper/RequestDataMapper/AkbankPosRequestDataMapper.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/EstPosRequestDataMapper.php

		-
			message: "#^Parameter \\#1 \\$currency of method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\EstPosRequestDataMapper\\:\\:mapCurrency\\(\\) expects 'EUR'\\|'GBP'\\|'JPY'\\|'RUB'\\|'TRY'\\|'USD', string given\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/EstPosRequestDataMapper.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/GarantiPosRequestDataMapper.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/InterPosRequestDataMapper.php

		-
			message: "#^Default value of the parameter \\#7 \\$extraData \\(array\\{\\}\\) of method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\PayFlexCPV4PosRequestDataMapper\\:\\:create3DFormData\\(\\) is incompatible with type array\\{CommonPaymentUrl\\: string, PaymentToken\\: string\\}\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PayFlexCPV4PosRequestDataMapper.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PayFlexCPV4PosRequestDataMapper.php

		-
			message: "#^Default value of the parameter \\#7 \\$extraData \\(array\\{\\}\\) of method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\PayFlexV4PosRequestDataMapper\\:\\:create3DFormData\\(\\) is incompatible with type array\\{PaReq\\: string, TermUrl\\: string, MD\\: string, ACSUrl\\: string\\}\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PayFlexV4PosRequestDataMapper.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PayFlexV4PosRequestDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\PayFlexV4PosRequestDataMapper\\:\\:create3DEnrollmentCheckRequestData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PayFlexV4PosRequestDataMapper.php

		-
			message: "#^Default value of the parameter \\#2 \\$data \\(array\\{\\}\\) of method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\PayForPosRequestDataMapper\\:\\:createHistoryRequestData\\(\\) is incompatible with type array\\{transaction_date\\: DateTimeInterface\\}\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PayForPosRequestDataMapper.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PayForPosRequestDataMapper.php

		-
			message: "#^Cannot assign offset 'authCode' to array\\<string, string\\>\\|string\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: "#^Cannot assign offset 'hostLogKey' to array\\<string, int\\|string\\>\\|string\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: "#^Cannot assign offset 'hostLogKey' to array\\<string, mixed\\>\\|string\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: "#^Cannot assign offset 'orderID' to array\\<string, int\\|string\\>\\|string\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: "#^Cannot assign offset 'orderID' to array\\<string, mixed\\>\\|string\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\PosNetRequestDataMapper\\:\\:create3DEnrollmentCheckRequestData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\PosNetV1PosRequestDataMapper\\:\\:create3DFormData\\(\\) has parameter \\$extraData with no type specified\\.$#"
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetV1PosRequestDataMapper.php

		-
			message: "#^Argument of an invalid type array\\|object supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/DataMapper/ResponseDataMapper/AbstractResponseDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\GarantiPosResponseDataMapper\\:\\:mapCancelResponse\\(\\) should return array\\<string, string\\> but returns array\\<string, array\\<string, array\\<string, array\\<string, string\\|null\\>\\|string\\>\\|string\\|null\\>\\|string\\|null\\>\\.$#"
			count: 1
			path: src/DataMapper/ResponseDataMapper/GarantiPosResponseDataMapper.php

		-
			message: "#^Offset 'ErrorMsg' does not exist on array\\<string, string\\>\\|string\\.$#"
			count: 2
			path: src/DataMapper/ResponseDataMapper/GarantiPosResponseDataMapper.php

		-
			message: "#^Offset 'ReasonCode' does not exist on array\\<string, string\\>\\|string\\.$#"
			count: 2
			path: src/DataMapper/ResponseDataMapper/GarantiPosResponseDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\KuveytPosResponseDataMapper\\:\\:mapStatusResponse\\(\\) has parameter \\$rawResponseData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DataMapper/ResponseDataMapper/KuveytPosResponseDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\PayFlexV4PosResponseDataMapper\\:\\:getCommonPaymentResponse\\(\\) should return array\\<string, string\\> but returns array\\<string, array\\<string, string\\>\\|string\\|null\\>\\.$#"
			count: 1
			path: src/DataMapper/ResponseDataMapper/PayFlexV4PosResponseDataMapper.php

		-
			message: "#^Property Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\AbstractResponseDataMapper\\:\\:\\$secureTypeMappings \\(array\\<string, '3d'\\|'3d_host'\\|'3d_pay'\\|'3d_pay_hosting'\\|'regular'\\>\\) does not accept non\\-empty\\-array\\<1\\|2\\|3\\|string, '3d'\\|'3d_host'\\|'3d_pay'\\|'3d_pay_hosting'\\|'regular'\\>\\.$#"
			count: 1
			path: src/DataMapper/ResponseDataMapper/PayFlexV4PosResponseDataMapper.php

		-
			message: "#^Property Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\AbstractResponseDataMapper\\:\\:\\$currencyMappings \\(array\\<string, 'EUR'\\|'GBP'\\|'JPY'\\|'RUB'\\|'TRY'\\|'USD'\\>\\) does not accept non\\-empty\\-array\\<392\\|643\\|826\\|840\\|949\\|978\\|string, 'EUR'\\|'GBP'\\|'JPY'\\|'RUB'\\|'TRY'\\|'USD'\\>\\.$#"
			count: 1
			path: src/DataMapper/ResponseDataMapper/PosNetV1PosResponseDataMapper.php

		-
			message: "#^Method Mews\\\\Pos\\\\Factory\\\\PosFactory\\:\\:createPosGateway\\(\\) should return Mews\\\\Pos\\\\PosInterface but returns object\\.$#"
			count: 1
			path: src/Factory/PosFactory.php

		-
			message: "#^Parameter \\#2 \\$rawPaymentResponseData of method Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\GarantiPosResponseDataMapper\\:\\:map3DPaymentData\\(\\) expects array\\{Order\\: array\\<string, array\\<string, string\\|null\\>\\|string\\>, Response\\: array\\<string, string\\>, Transaction\\: array\\<string, array\\<string, string\\>\\|string\\>\\}\\|null, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: src/Gateways/GarantiPos.php

		-
			message: "#^Parameter \\#1 \\$raw3DAuthResponseData of method Mews\\\\Pos\\\\DataMapper\\\\ResponseDataMapper\\\\PayFlexCPV4PosResponseDataMapper\\:\\:map3DPayResponseData\\(\\) expects array\\{ErrorCode\\: string\\}\\|array\\{Rc\\: string, AuthCode\\: string, TransactionId\\: string, PaymentToken\\: string, MaskedPan\\: string\\}\\|array\\{Rc\\: string, Message\\: string, TransactionId\\: string, PaymentToken\\: string\\}, array given\\.$#"
			count: 1
			path: src/Gateways/PayFlexCPV4Pos.php

		-
			message: "#^Parameter \\#7 \\$extraData of method Mews\\\\Pos\\\\DataMapper\\\\RequestDataMapper\\\\PayFlexCPV4PosRequestDataMapper\\:\\:create3DFormData\\(\\) expects array\\{CommonPaymentUrl\\: string, PaymentToken\\: string\\}, array\\{CommonPaymentUrl\\: string\\|null, PaymentToken\\: string\\|null, ErrorCode\\: null, ResponseMessage\\: string\\|null\\} given\\.$#"
			count: 1
			path: src/Gateways/PayFlexCPV4Pos.php

		-
			message: "#^Parameter \\#2 \\$creditCard of method Mews\\\\Pos\\\\Gateways\\\\PayFlexV4Pos\\:\\:sendEnrollmentRequest\\(\\) expects Mews\\\\Pos\\\\Entity\\\\Card\\\\CreditCardInterface, Mews\\\\Pos\\\\Entity\\\\Card\\\\CreditCardInterface\\|null given\\.$#"
			count: 1
			path: src/Gateways/PayFlexV4Pos.php

		-
			message: "#^Method Mews\\\\Pos\\\\Gateways\\\\PosNet\\:\\:getOosTransactionData\\(\\) should return array\\{approved\\: string, respCode\\: string, respText\\: string, oosRequestDataResponse\\?\\: array\\{data1\\: string, data2\\: string, sign\\: string\\}\\} but returns array\\<string, mixed\\>\\.$#"
			count: 1
			path: src/Gateways/PosNet.php

		-
			message: "#^Offset 'oosRequestDataRespo…' does not exist on array\\{approved\\: string, respCode\\: string, respText\\: string, oosRequestDataResponse\\?\\: array\\{data1\\: string, data2\\: string, sign\\: string\\}\\}\\.$#"
			count: 1
			path: src/Gateways/PosNet.php

		-
			message: "#^Parameter \\#4 \\$creditCard of method Mews\\\\Pos\\\\Gateways\\\\PosNet\\:\\:getOosTransactionData\\(\\) expects Mews\\\\Pos\\\\Entity\\\\Card\\\\CreditCardInterface, Mews\\\\Pos\\\\Entity\\\\Card\\\\CreditCardInterface\\|null given\\.$#"
			count: 1
			path: src/Gateways/PosNet.php
