parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$body of method Psr\\Http\\Message\\MessageInterface\:\:withBody\(\) expects Psr\\Http\\Message\\StreamInterface, Psr\\Http\\Message\\StreamInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Client/HttpClient.php

		-
			message: '#^Parameter \#1 \$content of method Psr\\Http\\Message\\StreamFactoryInterface\:\:createStream\(\) expects string, array\<string, string\>\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Client/HttpClient.php

		-
			message: '#^Default value of the parameter \#3 \$order \(array\{\}\) of method Mews\\Pos\\Crypt\\PosNetCrypt\:\:createHash\(\) is incompatible with type array\{amount\: int, currency\: string, id\: string\}\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: src/Crypt/PosNetCrypt.php

		-
			message: '#^PHPDoc tag @var with type array\<string, string\> is not subtype of native type array\{mixed, mixed, mixed, mixed, mixed, mixed, string\}\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Crypt/PosNetV1PosCrypt.php

		-
			message: '#^Parameter \#1 \$currency of method Mews\\Pos\\DataMapper\\RequestDataMapper\\AkbankPosRequestDataMapper\:\:mapCurrency\(\) expects ''EUR''\|''GBP''\|''JPY''\|''RUB''\|''TRY''\|''USD'', string given\.$#'
			identifier: argument.type
			count: 5
			path: src/DataMapper/RequestDataMapper/AkbankPosRequestDataMapper.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/DataMapper/RequestDataMapper/EstPosRequestDataMapper.php

		-
			message: '#^Parameter \#1 \$currency of method Mews\\Pos\\DataMapper\\RequestDataMapper\\EstPosRequestDataMapper\:\:mapCurrency\(\) expects ''EUR''\|''GBP''\|''JPY''\|''RUB''\|''TRY''\|''USD'', string given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataMapper/RequestDataMapper/EstPosRequestDataMapper.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/DataMapper/RequestDataMapper/GarantiPosRequestDataMapper.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/DataMapper/RequestDataMapper/InterPosRequestDataMapper.php

		-
			message: '#^Default value of the parameter \#7 \$extraData \(array\{\}\) of method Mews\\Pos\\DataMapper\\RequestDataMapper\\PayFlexCPV4PosRequestDataMapper\:\:create3DFormData\(\) is incompatible with type array\{CommonPaymentUrl\: string, PaymentToken\: string\}\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: src/DataMapper/RequestDataMapper/PayFlexCPV4PosRequestDataMapper.php

		-
			message: '#^Default value of the parameter \#7 \$extraData \(array\{\}\) of method Mews\\Pos\\DataMapper\\RequestDataMapper\\PayFlexV4PosRequestDataMapper\:\:create3DFormData\(\) is incompatible with type array\{PaReq\: string, TermUrl\: string, MD\: string, ACSUrl\: string\}\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: src/DataMapper/RequestDataMapper/PayFlexV4PosRequestDataMapper.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/DataMapper/RequestDataMapper/PayFlexV4PosRequestDataMapper.php

		-
			message: '#^Method Mews\\Pos\\DataMapper\\RequestDataMapper\\PayFlexV4PosRequestDataMapper\:\:create3DEnrollmentCheckRequestData\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DataMapper/RequestDataMapper/PayFlexV4PosRequestDataMapper.php

		-
			message: '#^Default value of the parameter \#2 \$data \(array\{\}\) of method Mews\\Pos\\DataMapper\\RequestDataMapper\\PayForPosRequestDataMapper\:\:createHistoryRequestData\(\) is incompatible with type array\{transaction_date\: DateTimeInterface\}\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: src/DataMapper/RequestDataMapper/PayForPosRequestDataMapper.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/DataMapper/RequestDataMapper/PayForPosRequestDataMapper.php

		-
			message: '#^Cannot assign offset ''authCode'' to array\<string, string\>\|string\.$#'
			identifier: offsetAssign.dimType
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: '#^Cannot assign offset ''hostLogKey'' to array\<string, int\|string\>\|string\.$#'
			identifier: offsetAssign.dimType
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: '#^Cannot assign offset ''hostLogKey'' to array\<string, mixed\>\|string\.$#'
			identifier: offsetAssign.dimType
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: '#^Cannot assign offset ''orderID'' to array\<string, int\|string\>\|string\.$#'
			identifier: offsetAssign.dimType
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: '#^Cannot assign offset ''orderID'' to array\<string, mixed\>\|string\.$#'
			identifier: offsetAssign.dimType
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: '#^Method Mews\\Pos\\DataMapper\\RequestDataMapper\\PosNetRequestDataMapper\:\:create3DEnrollmentCheckRequestData\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetRequestDataMapper.php

		-
			message: '#^Method Mews\\Pos\\DataMapper\\RequestDataMapper\\PosNetV1PosRequestDataMapper\:\:create3DFormData\(\) has parameter \$extraData with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/DataMapper/RequestDataMapper/PosNetV1PosRequestDataMapper.php

		-
			message: '#^Argument of an invalid type array\<mixed, mixed\>\|object supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/DataMapper/ResponseDataMapper/AbstractResponseDataMapper.php

		-
			message: '#^Offset ''ErrorMsg'' might not exist on array\<string, string\>\|string\.$#'
			identifier: offsetAccess.notFound
			count: 2
			path: src/DataMapper/ResponseDataMapper/GarantiPosResponseDataMapper.php

		-
			message: '#^Offset ''ReasonCode'' might not exist on array\<string, string\>\|string\.$#'
			identifier: offsetAccess.notFound
			count: 2
			path: src/DataMapper/ResponseDataMapper/GarantiPosResponseDataMapper.php

		-
			message: '#^Method Mews\\Pos\\DataMapper\\ResponseDataMapper\\KuveytPosResponseDataMapper\:\:mapStatusResponse\(\) has parameter \$rawResponseData with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DataMapper/ResponseDataMapper/KuveytPosResponseDataMapper.php

		-
			message: '#^Method Mews\\Pos\\DataMapper\\ResponseDataMapper\\PayFlexV4PosResponseDataMapper\:\:getCommonPaymentResponse\(\) should return array\<string, string\> but returns array\<string, array\<string, string\>\|string\|null\>\.$#'
			identifier: return.type
			count: 1
			path: src/DataMapper/ResponseDataMapper/PayFlexV4PosResponseDataMapper.php

		-
			message: '#^Property Mews\\Pos\\DataMapper\\ResponseDataMapper\\AbstractResponseDataMapper\:\:\$secureTypeMappings \(array\<string, ''3d''\|''3d_host''\|''3d_pay''\|''3d_pay_hosting''\|''regular''\>\) does not accept non\-empty\-array\<1\|2\|3\|string, ''3d''\|''3d_host''\|''3d_pay''\|''3d_pay_hosting''\|''regular''\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/DataMapper/ResponseDataMapper/PayFlexV4PosResponseDataMapper.php

		-
			message: '#^Property Mews\\Pos\\DataMapper\\ResponseDataMapper\\AbstractResponseDataMapper\:\:\$currencyMappings \(array\<string, ''EUR''\|''GBP''\|''JPY''\|''RUB''\|''TRY''\|''USD''\>\) does not accept non\-empty\-array\<392\|643\|826\|840\|949\|978\|string, ''EUR''\|''GBP''\|''JPY''\|''RUB''\|''TRY''\|''USD''\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/DataMapper/ResponseDataMapper/PosNetV1PosResponseDataMapper.php

		-
			message: '#^Method Mews\\Pos\\Factory\\PosFactory\:\:createPosGateway\(\) should return Mews\\Pos\\PosInterface but returns object\.$#'
			identifier: return.type
			count: 1
			path: src/Factory/PosFactory.php

		-
			message: '#^Strict comparison using \=\=\= between ''3d_host'' and ''3d_host'' will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: src/Gateways/AbstractGateway.php

		-
			message: '#^Parameter \#2 \$rawPaymentResponseData of method Mews\\Pos\\DataMapper\\ResponseDataMapper\\GarantiPosResponseDataMapper\:\:map3DPaymentData\(\) expects array\{Order\: array\<string, array\<string, string\|null\>\|string\>, Response\: array\<string, string\>, Transaction\: array\<string, array\<string, string\>\|string\>\}\|null, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Gateways/GarantiPos.php

		-
			message: '#^Method Mews\\Pos\\Gateways\\PayFlexCPV4Pos\:\:get3DPaymentStatus\(\) should return array\{ErrorCode\: string\}\|array\{Rc\: string, AuthCode\: string, TransactionId\: string, PaymentToken\: string, MaskedPan\: string\}\|array\{Rc\: string, Message\: string, TransactionId\: string, PaymentToken\: string\} but returns array\<string, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Gateways/PayFlexCPV4Pos.php

		-
			message: '#^Parameter \#1 \$raw3DAuthResponseData of method Mews\\Pos\\DataMapper\\ResponseDataMapper\\PayFlexCPV4PosResponseDataMapper\:\:map3DHostResponseData\(\) expects array\{ErrorCode\: string\}\|array\{Rc\: string, AuthCode\: string, TransactionId\: string, PaymentToken\: string, MaskedPan\: string\}\|array\{Rc\: string, Message\: string, TransactionId\: string, PaymentToken\: string\}, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Gateways/PayFlexCPV4Pos.php

		-
			message: '#^Parameter \#1 \$raw3DAuthResponseData of method Mews\\Pos\\DataMapper\\ResponseDataMapper\\PayFlexCPV4PosResponseDataMapper\:\:map3DPayResponseData\(\) expects array\{ErrorCode\: string\}\|array\{Rc\: string, AuthCode\: string, TransactionId\: string, PaymentToken\: string, MaskedPan\: string\}\|array\{Rc\: string, Message\: string, TransactionId\: string, PaymentToken\: string\}, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Gateways/PayFlexCPV4Pos.php

		-
			message: '#^Parameter \#7 \$extraData of method Mews\\Pos\\DataMapper\\RequestDataMapper\\PayFlexCPV4PosRequestDataMapper\:\:create3DFormData\(\) expects array\{CommonPaymentUrl\: string, PaymentToken\: string\}, array\{CommonPaymentUrl\: string\|null, PaymentToken\: string\|null, ErrorCode\: null, ResponseMessage\: string\|null\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Gateways/PayFlexCPV4Pos.php

		-
			message: '#^Parameter \#2 \$creditCard of method Mews\\Pos\\Gateways\\PayFlexV4Pos\:\:sendEnrollmentRequest\(\) expects Mews\\Pos\\Entity\\Card\\CreditCardInterface, Mews\\Pos\\Entity\\Card\\CreditCardInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Gateways/PayFlexV4Pos.php

		-
			message: '#^Method Mews\\Pos\\Gateways\\PosNet\:\:getOosTransactionData\(\) should return array\{approved\: string, respCode\: string, respText\: string, oosRequestDataResponse\?\: array\{data1\: string, data2\: string, sign\: string\}\} but returns array\<string, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Gateways/PosNet.php

		-
			message: '#^Offset ''oosRequestDataResponse'' might not exist on array\{approved\: string, respCode\: string, respText\: string, oosRequestDataResponse\?\: array\{data1\: string, data2\: string, sign\: string\}\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Gateways/PosNet.php

		-
			message: '#^Parameter \#4 \$creditCard of method Mews\\Pos\\Gateways\\PosNet\:\:getOosTransactionData\(\) expects Mews\\Pos\\Entity\\Card\\CreditCardInterface, Mews\\Pos\\Entity\\Card\\CreditCardInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Gateways/PosNet.php
