name: Unit Tests

on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['8.5']
        dependency-version: [prefer-stable]
    steps:
      - uses: actions/checkout@v6

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Show PHP version
        run: php -v

      - name: Install dependencies
        run: composer install --no-progress --no-suggest

      - name: PHPStan
        run: composer phpstan

      - name: CS check
        run: composer cs-check

      - name: Run test suite
        run: composer test
